<h1>Company Settings</h1>

<%= form_for(@ec_settings) do |c| %>
  
  <div class="form-group">
    <%= c.label :enable_My_Settings_to_Superviors %>
    <%= c.check_box :is_my_settings_sup %>
  </div>

  <div class="form-group">
    <%= c.label :enable_My_Settings_to_Members %>
    <%= c.check_box :is_my_settings_memb %>
  </div>    

  <div class="form-group">
    <%= c.label :Is_supervisor_can_create_surveys? %>
    <%= c.check_box :is_sup_create_surv %>
  </div>  

  <div class="form-group">
    <%= c.label :Is_supervisor_can_edit_surveys? %>
    <%= c.check_box :is_sup_edit_surv %>
  </div>

  <div class="form-group">
    <%= c.label :max_Questions %>
    <%= c.number_field :max_questions, max: 100, min: 20 %>
  </div>

  <div class="form-group">
    <%= c.label :survey_Expiry_Time %>
    <%= c.time_field :survey_expiry %>
  </div>

  <div class="form-group">
    <%= c.submit "Update Company Settings", class: "btn btn-primary" %>
  </div>

<% end %>