<h2><%= heading %></h2>

<%= form_for group do |f| %>
  <div class='label-input-container'>
    <div class='label-input-item'>
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class='label-input-item'>
      <%= f.label :description %><br />
      <%= f.text_area :description, autofocus: true %>
    </div>

    <div class='label-input-item'>
      <%= f.label :members %><br />
      <%= f.collection_select :user_ids, employees, :id, :full_name, {}, { multiple: true, class: 'col-md-3'} %>
    </div>
  </div>
  
  <div class="row no-gutters justify-content-start">
    <div class="col-1 mt-4">
      <%= f.submit submit, class: 'primary-btn' %>
    </div>
  </div>
<% end %>