<div class="d-flex justify-content-center heading-bg mb-2">
  <h1><%= t('groups.group_index_heading') %></h1>
</div>
<% if can? :create, Group %>
  <div class="row no-gutters justify-content-end">
    <div class="col-2 mb-2">
      <td><%= link_to t('links.add_new_link'), new_group_path, class: 'primary-btn' %></td>
    </div>
  </div>
<% end %>

<table class="table js-data-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('groups.name') %></th>
      <th scope="col"><%= t('groups.description') %></th>
      <th scope="col"><%= t('groups.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each.with_index(1) do |group, index| %>
      <tr>
        <td scope="row"><%= index %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td class="table-icon">
          <% if can? :update, group %>
            <%= link_to edit_group_path(group) do %>
              <i class="fa fa-pencil mr-2"></i>
            <% end %>
          <% end %>
          <% if can? :destroy, group %>
            <%= link_to group, method: :delete, data: { confirm: t('links.confirmation_message') } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>