<%= render partial:'layouts/header' %>
<%= render partial:'layouts/flash_messages' %>
<!-- Master Head -->
<header class="master-head text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5"><%= t('home.greeting_message') %></h1>
      </div>
    </div>
  </div>
</header>

<!-- Public Surveys -->
<section class="packages text-center bg-light">
  <div class="container">
    <h2 class="mb-5"><%= t('home.fill_surveys_message') %></h2>
    <div class="dropdown mx-2 mb-2" id="filter-dropdown">
      <button class="secondary-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"><%= t('home.filter_label') %></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to t('home.filter_all_label'), filter_category_home_index_path(filter_by: nil), class: "dropdown-item", remote: true %>
        <% @categories.each do |category| %>
          <%= link_to category, filter_category_home_index_path(filter_by: category), class: "dropdown-item", remote: true %>
        <% end %>
      </div>
    </div>
    <div id = "public_surveys_container">
      <%= render partial: 'public_surveys', locals: { surveys: @surveys, categories: @categories } %>
    </div>
  </div>
</section>
<%= render partial:'layouts/footer' %>