<div class="row">
  <div class="col-sm-6 p-20" >
    <%= render partial:'layouts/flash_messages' %>
    <div class="d-flex justify-content-center">
      <h1><%= t('login_label') %></h1>
    </div>

    <div class="p-l-30">
      <%= form_tag({controller: 'home', action: 'companies_list'}, method: "post", class: "nifty_form") do %>

        <div class = "label-input-container mt-4">
          <div class="label-input-item row no-gutters">
            <%= label_tag :email, nil, class: "col-4" %> <br />
            <%= text_field_tag :email, params[:email], class: "col-8", required: true %>
          </div>
        </div>

        <div class = "input-label-container my-4">
          <div class="actions"  >
            <%= submit_tag(t(:submit_label), class: 'primary-btn w-100') %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render partial:'layouts/footer' %>
  </div>
  <div class="col-sm-6" >
    <img src="/assets/survey.jpeg" class = "img-fullsize"  alt="survey">
  </div>
</div>