<div id = "user_responses">
  <% radio_button_id = 0 %>
  <% @response_per_page.each do |response| %>
    <h3> <%= response.email %> </h3>
    <% selected_option_ids = [] %>
    <% comments_detail = [] %>
    <% response.answers.each do |answer| %>
      <% selected_option_ids << answer.option_id %>
      <% question = Question.find(answer.question_id) %>
      <% if question.question_type == 'Comment Box' %>
        <% comments_detail << answer.detail %>
      <% end %>
    <% end %>
    <div class = "text-left survey-box container mt-3 shadow p-3 mb-5 bg-white rounded">
      <% @survey.questions.each_with_index do |val , index| %>
        <p class="font-weight-bold pt-3">Question <%= "#{index+1} : #{val.statement}" %></p>
        <% comments_index = 0 %>
        <% val.options.each_with_index do |option_value, option_index| %>
          <% if val.checkbox? %>
            <% if selected_option_ids.include? option_value.id %>
              <%= check_box_tag :option, 1, true, disabled: true %>
            <% else %>
              <%= check_box_tag :option, 1, false, disabled: true %>
            <% end %>
          <% elsif val.radiobutton? %>
            <% if selected_option_ids.include? option_value.id %>
              <%= radio_button_tag "option #{radio_button_id}", nil, true, class: '', disabled: true %>
            <% else %>
              <%= radio_button_tag "option #{radio_button_id}", nil, false, class: '', disabled: true %>
            <% end %>
            <% radio_button_id += 1 %>
          <% elsif val.commentbox? %>
            <%= text_field_tag :option, "#{comments_detail[comments_index]}", class: '', readonly: true %>
            <% comments_index += 1 %>
          <% elsif val.boolean? %>
            <% if selected_option_ids.include? option_value.id %>
              <%= radio_button_tag "option #{radio_button_id}", nil, true, class: '', disabled: true %>
            <% else %>
              <%= radio_button_tag "option #{radio_button_id}", nil, false, class: '', disabled: true %>
            <% end %>
          <% end %>
          <%= option_value.detail %>
        <% end %>
      <% end %>
      <div class="apple_pagination d-flex justify-content-center mt-4">
        <%= js_will_paginate @response_per_page %>
      </div>
    </div>
  <% end %>
</div>