<div class="row justify-content-center table-custom-scrollbar my-2">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <!-- <th scope="col">Created By</th> -->
        <th scope="col">Created on</th>
        <th scope="col">Expiry</th>
      </tr>
    </thead>
    <tbody>
      <% @surveys.each_with_index do |survey, index| %>
        <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= survey.name %></td>
        <td><%= survey.description %></td>
        <td><%= survey.category %></td>
        <!-- Add td for survey.user.full_name -->
        <td><%= survey.created_at.to_s(:long) %></td>
        <td><%= survey.expiry.to_s(:long) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>