<div class="row justify-content-center table-custom-scrollbar my-2">
  <table class="table table-striped js-data-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t 'serial_num_label' %></th>
        <th scope="col"><%= t 'title_label' %></th>
        <th scope="col"><%= t 'description_label' %></th>
        <th scope="col"><%= t 'category_label' %></th>
        <th scope="col"><%= t 'created_by_label' %></th>
        <th scope="col"><%= t 'created_on_label' %></th>
        <th scope="col"><%= t 'expiry_label' %></th>
        <th scope="col"><%= t 'options_label' %></th>
      </tr>
    </thead>
    <tbody>
      <% @surveys.each_with_index do |survey, index| %>
        <tr class="link-text">
        <th scope="row"><%= index+1 %></th>
        <td><%= link_to survey.name, new_survey_user_response_path(survey), class: "text-small" %></td>
        <td><%= survey.description %></td>
        <td><%= survey.category %></td>
        <td><%= survey.user.full_name %></td> 
        <td><%= survey.created_at.to_s(:long) %></td>
        <td><%= survey.expiry.to_s(:long) %></td>
        <td>
          <% if (can? :edit, survey) && (survey.expiry > DateTime.now) %>
            <%= link_to t('links.edit_link'), edit_survey_path(survey) %>
          <% end %>
          <% if can? :destroy, survey %>
            <%= link_to t('links.delete_link'), survey_path(survey), method: :delete, data: { confirm: t('links.confirmation_message') } %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>