<h1>User Settings</h1>

<%= form_for(@u_settings) do |c| %>
  
  <div>
    <%= c.label :enable_emails_subscription %>
    <%= c.check_box :emails_subscription %>
  </div>

  <div>
    <%= c.label :show_graphs %>
    <%= c.check_box :show_graphs %>
  </div>    

  <div>
    <%= c.label :show_history %>
    <%= c.check_box :show_history %>
  </div>  

   <div>
    <%= c.hidden_field :company_id, value: current_user.company_id %>
  </div>

  <div>
    <%= c.hidden_field :user_id, value: current_user.id %>
  </div>  

  <div>
    <%= c.submit "Submit User Settings", class: "btn btn-primary" %>
  </div>

<% end %>