<div class="row no-gutters d-flex justify-content-center vh-100">
  <!-- Sign in form -->
  <div class="col-md-6 mx-auto p-20">
    <%= render partial:'layouts/flash_messages' %>
    <div class=" row d-flex justify-content-center">
      <div class="container col-8">
        <h1><%= t(:login_label) %></h1>
        <div class = "login-margin-top label-input-container">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="label-input-item row no-gutters">
                <label for="user_email" class="col-4"> <%= t(:email_label) %> </label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8" %>
              </div>

              <div class="label-input-item row no-gutters">
                <label for="user_password" class="col-4"> <%= t(:password_label) %> </label>
                <%= f.password_field :password, autocomplete: "current-password", class: "col-8" %>
              </div>
            
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me%> &nbsp;&nbsp;&nbsp;
                <label for="user_remember_me"> <%= t(:remember_label) %> </label>
                </br>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit t(:login_label), class: 'primary-btn w-100 mt-2' %>
            </div>

          <% end %>
        </div>
        <div class="pt-2">
          <%= render "devise/shared/links" %>
        </div>
        
      </div>
    </div>
    <div class="fixed-footer w-50">
      <%= render partial:'layouts/footer' %>
    </div>
  </div>
  <!-- Side Image -->
  <div class="col-md-6">
    <img src="/assets/survey.jpeg" class = "img-fullsize"  alt="survey">
  </div>
</div>