<%= render 'layouts/flash_messages' %>
<div class = "login-container">
  <div class = "login-input boxed">
    <h2 class = "login-header">Log In</h2>
    <div class = "login-margin-top">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class = "login-input-label-container">
          <div class="form-group">
            <label> Email: </label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class = "login-input-label-container">
          <div class="form-group">
            <label> Password: </label>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
    
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <label> Remember Me: </label>
            <%= f.check_box :remember_me %>
            </br>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" , class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>