<div id= "statement_<%= params["question_id"] %>_option_divid_<%= params["option_div_id"] %>">
  <%= check_box_tag :option , class: 'form-control' %>
  <label> Option </label>
  <%= text_field_tag "survey[questions_attributes][#{params["question_id"]}][options_attributes][#{params["option_id"]}][detail]" , nil , class: 'form-control' %> 
  <a href = "#" data-qid = "<%= params["question_id"] %>" data-oid = "<%= params["option_id"] %>"
  data-divid = "<%= params["option_div_id"] %>" class = "js-deleteoption">Delete Option </a>
</div> 