<div class = "survey">
  <div class = "container">
    <%= form_for @survey, id: "form" do |f| %>
      <%= render "devise/shared/error_messages", resource: @survey %>
      <div class = "pt-3 ">
        <label> Name of Survey: </label>
        <%= f.text_field :name %><br>
      </div>
      <div class = "pt-3">
        <label> Description of Survey: </label>
        <%= f.text_field :description %></br>
      </div>
      <div class = "pt-3">
        <label> Category of Survey: </label>
        <%= f.text_field :category %></br>
      </div>
      <div class = "pt-3">
        <label> Type of Survey: </label>
        <div class = "d-flex justify-content-end">
          <%= f.select :survey_type , raw("<option>Private</option><option>Public</option>") %> 
        </div>
      </div> 
      <div class = "pt-3">
        <label> Expiry of Survey: </label>
        <%= f.date_field :expiry %></br>
      </div>
      <div class = "pt-3">
        <label> Assign a group to survey: </label>
        <div class = "d-flex justify-content-end">
          <%= f.select :group_id, options_for_select(Group.all.collect {|g| [g.name, g.id ]}, f.object.group_id ) %>
        </div>
      </div>
      <div id = "survey_questions" class = "pt-3" >
        <% index = 0 %> 
        <%= f.fields_for :questions, id: '' do |q| %>
          <div id = "statement_<%= index %>" class="form-group">
            <% unless q.object.statement == '-1' %>
              <div class = "pt-3">
                <label> Question Type: </label>
                <div class = "d-flex justify-content-end">
                  <%= q.select :question_type, options_for_select([ "Checkbox", "Radio Buttons", "Comment Box", "True / False" ], q.object.question_type) %><br>
                </div>
              </div>
              <div class = "pt-3">
                <label> Statement *: </label>
                <%= q.text_field :statement %>
                <div class = "pt-3">
                  <label> Required: </label>
                  <%= q.check_box :required, checked: q.object.required %>
                </div>
              </div>
              <div id = "statement_<%= index %>_option_container" class = "pt-3">
                <% option_index = 0 %>
                <%= q.fields_for :options, id: '' do |option| %> 
                  <div id= "statement_<%= index %>_option_divid_<%= option_index %>">
                    <%#= # render_option(q.object) %>
                    <% if q.object.boolean? || q.object.commentbox? %>
                      <br><%= text_field_tag "text", "#{option.object.detail}", class: 'form-control', readonly: true %> 
                    <% else %>
                      <br><%= option.text_field :detail %> 
                    <% end %>
                    <% if q.object.checkbox? || q.object.radiobutton? %>
                      <a href = "#" data-qid = "<%= index %>" data-oid = "<%= option_index %>"
                        data-divid = "<%= option_index %>" class = "js-deleteoption">Delete Option </a>
                    <% end %>
                    <% option_index += 1 %>
                  </div> 
                <% end %>
                <% if q.object.checkbox? || q.object.radiobutton? || q.object.question_type.nil? %>
                  <div id = "statement_<%= index %>_add_option">
                    <a href = "#_" data-qid = "<%= index %>" data-oid = "<%= index-1 %>" data-divid = "<%= index-1 %>" class = "js-addoption">Add Option </a>
                  </div>
                <% end %>
              </div>
              <a href = "#_" data-qid = "<%= index %>" class = "js-deletequestion">Delete Question </a>
                <% index += 1 %>  
            <% end %>  
          </div>
        <% end %>
      </div>
      <a href = "#_" data-option_count = "<%= index-1 %>" data-count = "<%= index %>" class = "js-addquestion">Add Question </a>
      <%= f.submit locals[:submit], class: "btn btn-primary" %>
    <% end %>    
  </div>  
</div>