<div>
  <div >
    <%= form_for @survey, id: "form" do |f| %>
      <label> Name of Survey: </label>
      <%= f.text_field :name %>
      <label> Description of Survey: </label>
      <%= f.text_field :description %></br>
      <label> Category of Survey: </label>
      <%= f.text_field :category %></br>
      <label> Type of Survey: </label>
      <%= f.select :survey_type , raw("<option>Private</option><option>Public</option>")%>  
      <label> Expiry of Survey: </label>
      <%= f.date_field :expiry %></br>
      <div id = "survey_questions" >
        <% index = 0 %> 
        <%= f.fields_for :questions, id: '' do |q| %>
          <div id = "statement_<%= index %>" class="form-group">
            <label> Question Type: </label>
            <%= q.select :question_type, options_for_select([ "Checkbox", "Radio Buttons", "Comment Box", "True / False" ], q.object.question_type) %>
              <label> Statement: </label>
              <%= q.text_field :statement%>
                <div id = "statement_<%= index %>_option_container" >
                <% option_index = 0 %>
                <%= q.fields_for :options, id: '' do |option| %> 
                  <div id= "statement_<%= index %>_option_divid_<%= option_index %>">
                    <%= render_option(q.object) %>
                    <%= option.text_field :detail %> 
                    <% if q.object.question_type == 'Checkbox' || q.object.question_type == 'Radio Buttons' %>
                      <a href = "#" data-qid = "<%= index %>" data-oid = "<%= option_index %>"
                      data-divid = "<%= option_index %>" class = "js-deleteoption">Delete Option </a>
                    <% end %>
                    <% option_index += 1 %>
                  </div> 
                <% end %>
                <% if q.object.question_type == 'Checkbox' || q.object.question_type == 'Radio Buttons' || q.object.question_type.nil? %>
                  <div id = "statement_<%= index %>_add_option">
                    <a href = "#" data-qid = "<%= index %>" data-oid = "<%= index-1 %>" data-divid = "<%= index-1 %>" class = "js-addoption">Add Option </a>
                  </div>
                <% end %>
            </div>
            <a href = "#" data-qid = "<%= index %>" class = "js-deletequestion">Delete Question </a>
          </div>
          <% index += 1 %>
        <% end %>
      </div>
      <a href = "#" data-option_count = "<%= index-1 %>" data-count = "<%= index %>" class = "js-addquestion">Add Question </a>
      <%= f.submit "Submit" %>
    <% end %>    
  </div>  
</div>