<div id = "statement_<%= params["question_count"] %>" class="form-group pt-3">
  <div class = "pt-3">
    <label> Question Type: </label>
    <%= select_tag "survey[questions_attributes][#{params["question_count"]}][question_type]", raw("<option>Checkbox</option><option>Radio Buttons</option><option>Comment Box</option><option>True / False</option>") %><br>
  </div>
  <div class = "pt-3">
    <label> Statement *: </label>
    <%= text_field_tag "survey[questions_attributes][#{params["question_count"]}][statement]" , nil , class: 'form-control', required: true %>
    <div class="pt-3">
      <%= check_box_tag "survey[questions_attributes][#{params["question_count"]}][required]", 1, 0 %>
      <label>Required </label>
    </div>
  </div>
  <div id = "statement_<%= params["question_count"] %>_option_container" class="form-group pt-3">
  </div>
  <div id = "statement_<%= params["question_count"] %>_add_option">
    <a href = "#_" data-qid = "<%= params["question_count"] %>" data-oid = "-1" data-divid = "-1" class = "js-addoption">Add Option</a>
  </div>
  <a href = "#" data-qid = "<%= params["question_count"] %>" class = "js-deletequestion">Delete Question</a>
</div>