<!-- basic html -->
<div class="container">
  <h1><%= @survey.name %></h1>
  <h3 class="text-muted"><%= @survey.description %></h3>
  <% @survey.questions.each_with_index(1) do |question,index| %>
    <% unless question.question_type == 'Comment Box' %>
      <div class='js-survey-chart'>
        <h3>Question <%= index %>: <%= question.statement %></h3>
        <%= content_tag :canvas, "", id: question.id, data: { chart_data: question.answer_stats, chart_labels: question.options_labels, chart_type: 'pie', chart_colors: GRAPH_COLORS } %>
      </div>
    <% else %>
      <h3>Question: <%= question.statement %></h3>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Responses</th>
          </tr>
        </thead>
        <tbody>
          <% question.answers.each_with_index(1) do |answer, index| %>
            <tr>
              <td scope="row"><b><%= index %></b></td>
              <td><%= answer.detail.to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>