<div class="container activity-container p-0">
  <!-- if activities are available -->
  <% unless user_activities.blank? %>
  <div class="table-custom-scrollbar my-2">
    <table class="table table-bordered table-striped mb-0 js-data-table">
      <thead>
        <tr>
          <th scope="col"><%= t 'serial_num_label' %></th>
          <th scope="col"><%= t 'activity_history.activity_label' %></th>
          <th scope="col"><%= t 'activity_history.time_label' %></th>
        </tr>
      </thead>
      <tbody>
        <% user_activities.each.with_index(1) do |activity, index| %>
          <tr>
            <td scope="row"><b><%= index %></b></td>
            <td>
              <p>
                <!-- Following if else block displays owner's name or email and action of activity -->
                <% if activity.owner_id.present? %>
                  <%= activity.owner.full_name %> <%= activity.action %>
                <% else %>
                  <span class="badge badge-info"> <%= t('guest_user_label') %> </span>
                  <%= activity.parameters[:email] %> <%= activity.action %> 
                <% end %>
                <!-- Following if elsif block displays trackable object and its link if available -->
                <% if activity.trackable_survey? %>
                  <% if activity.trackable.present? %>
                    <%= link_to activity.trackable.name, survey_path(activity.trackable.id) %>
                  <% else %>
                    <%= activity.parameters[:trackable_name] %>
                  <% end %>
                <% elsif activity.trackable_group? %>
                  <% if activity.trackable.present? %>
                    <%= link_to activity.trackable.name, group_path(activity.trackable.id) %>
                  <% else %>
                    <%= activity.parameters[:trackable_name] %>
                  <% end %>
                <% elsif activity.trackable_user? %>
                  <% if activity.trackable.present? %>
                    <%= link_to activity.trackable.full_name, member_path(activity.trackable.id) %>
                  <% else %>
                    <%= activity.parameters[:trackable_name] %>
                  <% end %>
                <% elsif activity.trackable_user_response? %>
                  <%= link_to activity.trackable_type, survey_path(activity.trackable.survey_id) %>
                <% end %>
                <!-- Displays trackable object's type in a badge -->
                <span class="badge badge-primary"> <%= activity.trackable_type %> </span>
              </p>
            </td>
            <td><%= activity.created_at.to_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- when activites are not available  -->
  <% else %>
    <div class="d-flex justify-content-center empty-resource-box">
      <p><%= t 'activity_history.no_activity_label' %></p>
    </div>
  <% end %>
</div>