<div class="container activity-container p-0">
  <!-- if activities are available -->
  <% unless user_activities.blank? %>
  <div class="table-custom-scrollbar my-2">
    <table class="table table-bordered table-striped mb-0 js-data-table">
      <thead>
        <tr>
          <th scope="col"><%= t 'serial_num_label' %></th>
          <th scope="col"><%= t 'activity_history.activity_label' %></th>
          <th scope="col"><%= t 'activity_history.time_label' %></th>
        </tr>
      </thead>
      <tbody>
        <% user_activities.each.with_index(1) do |activity, index| %>
          <tr>
            <td scope="row"><b><%= index %></b></td>
            <td>
              <p>
                <% if activity.owner_id.present? %>
                  <%= activity.owner.full_name %> has <%= activity.action %> a <%= link_to activity.trackable_type %> 
                <% else %>
                  Guest user has <%= activity.action %> a <%= link_to activity.trackable_type %> 
                <% end %>
              </p>
            </td>
            <td><%= activity.created_at.to_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- when activites are not available  -->
  <% else %>
    <div class="d-flex justify-content-center empty-resource-box">
      <p><%= t 'activity_history.no_activity_label' %></p>
    </div>
  <% end %>
</div>