<div class="container activity-container p-0">
  <!-- if activities are available -->
  <% unless user_activities.blank? %>
  <div class="my-2">
    <table class="table table-striped mb-0 js-data-table">
      <thead>
        <tr class="row no-gutters">
          <th class="col-1"><%= t 'serial_num_label' %></th>
          <th class="col-8"><%= t 'activity_history.activity_label' %></th>
          <th class="col-3"><%= t 'activity_history.time_label' %></th>
        </tr>
      </thead>
      <tbody>
        <% user_activities.each.with_index(1) do |activity, index| %>
          <tr class="row no-gutters" scope="row">
            <td class="col-1"><b><%= index %></b></td>
            <td class="col-8">
              <p>
                <%= activity.owner.full_name %> has <%= activity.action %> a <%= link_to activity.trackable_type %> 
              </p>
            </td class="col-3">
            <td><%= activity.created_at.to_s(:long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- when activites are not available  -->
  <% else %>
    <div class="d-flex justify-content-center empty-resource-box">
      <p><%= t 'activity_history.no_activity_label' %></p>
    </div>
  <% end %>
</div>