<div class="col-10 p-3">
  <h3><%= t 'company_settings.company_settings_heading' %></h3>
  <%= form_for(@company_setting) do |c| %>
    
    <div class="form-group">
      <%= c.label :allow_supervisors_to_edit_my_settings, t('user_settings.supervisors_settings_permission_label') %>
      <%= c.check_box :supervisors_settings_permission %>
    </div>

    <div class="form-group">
      <%= c.label :allow_members_to_edit_my_settings, t('user_settings.members_settings_permission_label') %>
      <%= c.check_box :members_settings_permission %>
    </div>    

    <div class="form-group">
      <%= c.label :allow_supervisor_to_create_surveys, t('user_settings.supervisors_survey_permission_label') %>
      <%= c.check_box :supervisors_survey_permission %>
    </div>  

    <div class="form-group">
      <%= c.label :max_questions %>
      <%= c.number_field :max_questions %>
    </div>

    <div class="form-group">
      <%= c.label :survey_expiry_days %>
      <%= c.number_field :survey_expiry_days %>
    </div>

    <div class="form-group">
      <%= c.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>