<footer class="footer">
  <div class="w-100 d-flex justify-content-center">
    <% if current_user.present? %>
      <%= link_to t('footer.home_label'), dashboard_company_path(current_user) %>
    <% else %>
      <%= link_to t('footer.home_label'), root_path %>
    <% end %>
    <%= link_to t('footer.about_label'), '#_' %>
    <%= link_to t('footer.contact_label'), '#_' %>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <p class="small mb-4 mb-lg-0">&copy; <%= t 'footer.license_description' %></p>
  </div>
</footer>