<% @c_settings = CompanySetting.find_by_company_id(current_user.company_id) %>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Surveys System</a>
    <div>
      You are logged in as
      <%= current_user.role %>
    </div>
    <div class="d-flex flex-row-reverse">
    	<div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <%= current_user.first_name.upcase %>
        </button>
        <div class="dropdown-menu">
          <% if (current_user.role == "admin") %>
            <%= link_to "My Settings", edit_user_setting_path(current_user) %>
          <% elsif (current_user.role == "supervisor" && @c_settings.is_my_settings_sup) %>
            <%= link_to "My Settings", edit_user_setting_path(current_user) %>
          <% elsif (current_user.role == "member" && @c_settings.is_my_settings_memb) %>
            <%= link_to "My Settings", edit_user_setting_path(current_user) %>
          <% end %>
          <br><%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </div>
      </div>
    </div>
  </div>
</nav>