<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <% if current_user.present? %>
      <a class="navbar-brand" href= <%= dashboard_company_path(current_user) %> >Surveys System</a>
      <div>
        You are logged in as <%= current_user.role %>
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown">
            <%= image_tag current_user.image.url(:thumb), class: 'zoom' %>
            <%= current_user.full_name %>
          </button>
          <div class="dropdown-menu">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </div>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown">
          <i class="fas fa-cog"></i>    
          </button>
          <div class="dropdown-menu">
            <% if can? :edit, @user_setting %>
              <%= link_to "My Settings", edit_user_setting_path(current_user.user_setting) %><br>
            <% end %>
            <% if can? :edit, @company_setting %>
              <%= link_to "Company Settings", edit_company_setting_path(current_user.company.company_setting) %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>  
      <a class="navbar-brand" href="/">Survey System</a>
      <div class="d-flex flex-row-reverse text-muted">
        <a class="btn btn-primary" href="/users/sign_up">Register</a>
        <a class="nav-link" href="/users/sign_in">Sign in</a>
      </div> 
    <% end %>
  </div>
</nav>