<!-- Subscription Package -->
<div class="col-lg-4">
  <div class="mx-auto mb-5 mb-lg-0">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"> <%= package.subscription_package_name %> </h5>
        <p class="card-text"><%= t 'package.description_label' %></p>
        <dl>
          <dt><%= t 'package.max_supervisors_label' %></dt>
          <dd> <%= package.max_supervisors %> </dd>
          <dt><%= t 'package.max_members_label' %></dt>
          <dd> <%= package.max_members %> </dd>
        </dl> 
        <a href="#_" class="btn btn-primary"><%= t 'package.subscribe_label' %></a>
      </div>
    </div>
  </div>
</div>