<!-- Subscription Package -->
<div class="col-lg-4">
  <div class="mx-auto mb-5 mb-lg-0">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"> <%= subscription_package.subscription_package_name %> </h5>
        <p class="card-text"><%= t 'package.description_label' %></p>
        <dl>
          <dt><%= t 'package.max_supervisors_label' %></dt>
          <dd> <%= subscription_package.max_supervisors %> </dd>
          <dt><%= t 'package.max_members_label' %></dt>
          <dd> <%= subscription_package.max_members %> </dd>
        </dl>
        <%= link_to t('package.subscribe_label'), update_subscription_package_company_path(subscription_package.id), class: "primary-btn" %> 
      </div>
    </div>
  </div>
</div>