<%= form_for(@user_setting) do |u| %>

  <div>
    <%= u.label :enable_emails_subscription %>
    <%= u.check_box :emails_subscription %>
  </div>

  <div>
    <%= u.label :show_graphs %>
    <%= u.check_box :show_graphs %>
  </div>    

  <div>
    <%= u.label :show_history %>
    <%= u.check_box :show_history %>
  </div>  

  <!-- will be removed -->
  <div>
    <%= u.hidden_field :company_id, value: current_user.company_id %>
  </div>

  <!-- will be removed -->
  <div>
    <%= u.hidden_field :user_id, value: current_user.id %>
  </div>  

  <div>
    <%= u.submit class: "btn btn-primary" %>
  </div>

<% end %>