<div class="col-10">
  <h3>User Settings</h3>
  <%= form_for(@user_setting) do |u| %>

    <div>
      <%= u.label :enable_emails_subscription %>
      <%= u.check_box :emails_subscription %>
    </div>

    <div>
      <%= u.label :show_graphs %>
      <%= u.check_box :show_graphs %>
    </div>    

    <div>
      <%= u.label :show_history %>
      <%= u.check_box :show_history %>
    </div>  

    <div>
      <%= u.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>