<!DOCTYPE html>
<html>
  <head>
    <title>Survey System</title>
    <!-- Latest compiled and minified CSS -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>

    <!-- jQuery library -->
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" %>

    <!-- Popper JS -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" %>

    <!-- Latest compiled JavaScript -->
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" %>

    <!-- Custom fonts for this template -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" %>

    <!-- Chart.js -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" %>

    <!-- Chart.js plugin datalabels -->
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels" %>

     <!-- Fontawesome icons -->
    <%= javascript_include_tag "https://use.fontawesome.com/22018efeea.js" %>
      
    <!-- application assets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- for guest user -->
    <% unless current_user.present? %>
      <%= render_breadcrumbs :separator => ' / ' %>
      <%= yield %>
    <!-- for logged in user -->
    <% else %>
      <div class="w-100 h-100">
        <%= render partial:'layouts/header' %>
        <div class="row no-gutters h-100 w-100 p-0">
          <div class="sidebar-style float-left h-100 col-4 col-md-2">
            <div>
              <%= render partial:'layouts/sidebar' %>  
            </div>
          </div>
          <div id="main" class="main-style my-auto float-left overflow-auto col col-md-10">
            <div class="d-flex align-items-start flex-column">
              <div class="w-100">
                <%= render partial:'layouts/flash_messages' %>
                <%= render_breadcrumbs :separator => ' / ' %>
                <%= yield %>
              </div>
              <div class="mt-auto w-100">
                <%= render partial:'layouts/footer' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</html>