<h2><%= heading %></h2>
<%= form_for member, url: url, method: method do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: t('users.first_name') %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: t('users.last_name') %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: t('users.email') %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, User::ROLE.reject { |key, value| key == :admin } %>
    <br>
  </div>

  <div class="actions">
    <%= f.submit submit, class: 'col-md-2 btn btn-outline-secondary' %>
  </div>
<% end %>