<div class="d-flex justify-content-center heading-bg mb-2">
  <h1><%= t('users.members_index_heading') %></h1>
</div>

<% if can? :create, User %>
  <div class="row no-gutters justify-content-end">
    <div class="col-2 mb-2">  
      <%= link_to t('links.add_new_link'), new_member_path, class: 'primary-btn' %> 
    </div>
  </div>
<% end %>

<table class="table js-data-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('users.name') %></th>
      <th scope="col"><%= t('users.email') %></th>
      <th scope="col"><%= t('users.user_role') %></th>
      <th scope="col"><%= t('links.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each.with_index(1) do |member, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= member.full_name %></td>
        <td><%= member.email %></td>
        <td><%= member.role %></td>
        <td>
          <% if can? :update, member %>
            <%= link_to t('links.edit_link'), edit_member_path(member) %>
          <% end %>
          <% if can? :destroy, member %>
            <%= link_to t('links.delete_link'), member_path(member), method: :delete, data: { confirm: t('links.confirmation_message') } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>