<h1> Members </h1>

<% if can? :create, User %>
  <%= link_to "Create new Member", new_member_path, class: 'btn btn-outline-secondary' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each.with_index(1) do |member, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= member.full_name %></td>
        <td><%= member.email %></td>
        <td><%= member.role %></td>
        <td>
          <% if can? :edit_in_members_view, member %>
            <%= link_to 'Edit', edit_member_path(member) %>
          <% end %>
          <% if can? :destroy, member %>
            <%= link_to 'Delete', member_path(member), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
